body{
  background-color: #fefefe;
  margin:0.25rem 0;
  height:100vh;
  width:100vw;
  margin: auto;
  overflow: hidden;
  font-family: 'open sans', sans-serif;
}
button{
  background-color: #ffffff;
  box-shadow: 0 0 0.3em 0 #313131;
  padding: 0.5em 1em 0.5em 1em;
  border:none;
  border-radius: 5%;
}
button:active{
  background-color: #fbfbfb;
  border-color: none;
}
*:hover{
  cursor: default;
}
*::selection{
  background-color: #fefefe;
}
button::selection{
  background-color: #ffffff;
}
a{
  text-decoration: none;
}
.grid{
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  padding:0.25em;
  align-items: center;
}
.tile,.square-tile{
  display: flex;
  flex-basis: 25%;
  flex-direction: row;
  flex-grow: 1;
  margin: 0.25em;
  background-color: #fe3232;
}
.tile img,.tile video,.tile iframe,.square-tile img,
.square-tile video,.square-tile iframe{
  height: 100%;
  overflow: hidden;
}
.tile-content{
    margin:auto;
    color:#212121;
    text-align: center;
}
.center{
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.tile-content::selection{
  background-color: inherit;
}
.slide-up{
  position: absolute;
  top:125%;
  width: 100%;
  height:20%;
  margin: auto;
  transition: ease 1s;
}
.slide-button{
  z-index: 2;
  position: absolute;
  display: flex;
  color:#989898;
  height:100vh;
  top:0;
}
.slide-button:hover{
  background-color: rgba(222, 222, 222, 0.875);
}
.slide-arrow{
  z-index: 3;
  font-size:20vh;
  display:flex;
  position:relative;
  opacity: 1;
  margin:auto;
}
.slide{
  position: absolute;
  padding:inherit;
  width:100%;
  text-align: center;
  top:50%;
  transform: translateY(-50%);
}
.slide:nth-child(n){
  left:calc(calc(n -1) * 200vw);
}
.right{
  right:0;
  float:right;
}
.left{
  left:0;
  float:left;
}
