body{
  background-color: #ffffff;
  margin:0.25rem 0;
  height:100vh;
  width:100vw;
  margin: auto;
  overflow: hidden;
  font-family: 'open sans', sans-serif;
}
button{
  background-color: #e0e0e0;
  padding: 0.5em 1em 0.5em 1em;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 0.01rem;
  border-radius: 2%;
}
button:active{
  background-color: #eeeeee;
  border-color: none;
  outline: none;
}
button:focus{
  outline: #212121;
}
*:hover{
  cursor: default;
}
*::selection{
  background-color: #fefefe;
}
button::selection{
  background-color: #ffffff;
}
a{
  text-decoration: none;
}
.grid, .tile-container{
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  padding:0.25em;
  align-items: center;
}
.tile-container{
  height:97.5vh;
  width:97.5vw;
  align-items: stretch;
  position: absolute;
}
.tile,.square-tile{
  display: flex;
  flex-basis: 25%;
  flex-direction: row;
  flex-grow: 1;
  margin: 0.25em;
  background-color: #bdbdbd;
}
.tile img,.tile video,.tile iframe,.square-tile img,
.square-tile video,.square-tile iframe{
  height: 100%;
  overflow: hidden;
}
.tile-content{
    margin:auto;
    color:#212121;
    text-align: center;
}
.center, .tile-container {
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.tile-content::selection{
  background-color: inherit;
}
.slide-up{
  position: absolute;
  top:125%;
  width: 100%;
  height:20%;
  margin: auto;
  transition: ease 1s;
}
.slide-button{
  z-index: 1;
  position: absolute;
  display: flex;
  color:#989898;
  height:100vh;
  top:0;
}
.slide-button:hover{
  background-color: rgba(222, 222, 222, 0.875);
}
.slide-button:hover > .slide-arrow{
  opacity: 1;
}
.slide-arrow::selection{
    background-color: rgba(0,0,0,0);
}
.slide-arrow{
  z-index: 3;
  font-size:20vh;
  display:flex;
  position:relative;
  opacity: 0;
  margin:auto;
}
.slide{
  position: absolute;
  padding:inherit;
  width:100%;
  text-align: center;
  left:200vw;
  top:50%;
  transform: translateY(-50%);
}

/* js classes / html overrides. */
.nocenter{
  top:0;
  transform: translateY(0);
}
.slide.leftoffscreen{
  left:-200vw;
}
.slide.onscreen{
  left:0;
}
.right{
  right:0;
  float:right;
}
.left{
  left:0;
  float:left;
}
.setuptable{
  width:100vw;
}

/* ghost class to show slide-button in js */
.showslide-button{

}
.showslidebutton > .slide-arrow{
  transition: ease 3s;
  opacity: 1;
}
.showslidebutton{
  transition: ease 3s;
  background-color: rgba(222, 222, 222, 0.875);
}
